In [24]:
import pandas as pd
import numpy as np
import math
data = pd.read_csv("../Bollywood-Data-master/wikipedia-data/avg_wv_relation.csv") 
data.head(30)

,Char,Gender,Desc,WordVec
0,woman_Aan Milo Sajna,FEMALE,young,-0.105138 -0.029248 -0.063298 -0.007706 -0.180...
1,Anil_Aan Milo Sajna,MALE,NaN,0
2,Savitri_Aan Milo Sajna,FEMALE,NaN,0
3,Deepali_Aan Milo Sajna,FEMALE,NaN,0
4,Shekar_Abhinetri,UNKNOWN,NaN,0
5,Anjana_Abhinetri,FEMALE,NaN,0
6,Nekichand_Bachpan,unknown,NaN,0
7,father_Bachpan,MALE,unhappilly,0
8,Rahim_Bachpan,MALE,"father, father, father",-2.82591750e-01 6.52440000e-02 -2.36074500...
9,Kashi_Bachpan,UNKNOWN,innocent,-1.03062000e-01 1.66135000e-01 -2.67929000...
10,Tom_Bachpan,MALE,NaN,0
11,Ram_Bachpan,unknown,NaN,0
12,actor_Bombay Talkie,MALE,famous,0.022116 -0.270536 0.235497 0.218431 -0.129...
13,Seema_Chetna,FEMALE,unrecognizable,0
14,man_Chetna,MALE,"shy, young",-0.03117 -0.064567 0.0203845 0.037786 -0...
15,Anil_Chetna,MALE,"father, father, father",-2.82591750e-01 6.52440000e-02 -2.36074500...
16,actor_Chetna,MALE,NaN,0
17,Dhawan_Chetna,FEMALE,NaN,0
18,Vasantpur_Dharti,unknown,entire,-2.83600000e-02 1.34502000e-01 -2.01036000...
19,Bharat_Dharti,MALE,NaN,0
20,son_Dharti,MALE,general,-0.07573 -0.23854 0.13686 0.148458 -0.270...
21,man_Dharti,MALE,cruel,-8.73990000e-02 1.97750000e-02 -1.26026000...
22,Diwan_Dharti,MALE,"son, son, cruel",-0.189671 0.09542967 -0.24466333 -0.1337453...
23,daughter_Dharti,FEMALE,NaN,0
24,sister_Geet,FEMALE,NaN,0
25,Kamla_Geet,FEMALE,NaN,0
26,Sarju_Geet,MALE,"father, father, father, father, interested",-0.3149276 0.083348 -0.2835022 -0.1304588 -0...
27,father_Geet,MALE,NaN,0
28,Janki_Geet,FEMALE,"sister, sister, sister",-0.280121 -0.002382 -0.197149 -0.063887 -0.510...
29,Dindayal_Geet,UNKNOWN,widowed,-0.140482 -0.203134 0.07209 0.117395 -0.394...

In [17]:
from typing import List

Vector = List[float]
def vector_len(v: Vector) -> float:
    return math.sqrt(sum([x*x for x in v]))

def dot_product(v1: Vector, v2: Vector) -> float:
    assert len(v1) == len(v2)
    return sum([x*y for (x,y) in zip(v1, v2)])

def cosine_similarity(v1: Vector, v2: Vector) -> float:
    """
    Returns the cosine of the angle between the two vectors.
    Results range from -1 (very different) to 1 (very similar).
    """
    return dot_product(v1, v2) / (vector_len(v1) * vector_len(v2))

In [18]:
paddingwordvec = [0 for i in range(200)]
len(paddingwordvec)

200

In [19]:
data1 = data.dropna()

somex = data1.Char.tolist()
for i,j in enumerate(somex):
    z = j.split('_')
    if len(z) == 1:
        val = i
        print(val)
data1 = data1.drop(data1.index[[val]])

data1['Movie'] = data1['Char'].apply(lambda s:s.split('_')[1])
data1['Character'] = data1['Char'].apply(lambda s:s.split('_')[0])

2161

In [20]:
def replace1(row):
    val = row['WordVec']
    if val == '0':
        val = paddingwordvec
    else:
        z = val.split(' ')
        final_vec1 = []
        for i in z:
            if i != '':
                final_vec1.append(float(i))
                val = final_vec1

    return val

data1['WordVec'] = data1.apply(replace1, axis = 1)
data1 = data1.reset_index()
data1

,index,Char,Gender,Desc,WordVec,Movie,Character
0,0,woman_Aan Milo Sajna,FEMALE,young,"[-0.105138, -0.029248, -0.063298, -0.007706, -...",Aan Milo Sajna,woman
1,7,father_Bachpan,MALE,unhappilly,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",Bachpan,father
2,8,Rahim_Bachpan,MALE,"father, father, father","[-0.28259175, 0.065244, -0.2360745, -0.1025212...",Bachpan,Rahim
3,9,Kashi_Bachpan,UNKNOWN,innocent,"[-0.103062, 0.166135, -0.267929, -0.176946, -0...",Bachpan,Kashi
4,12,actor_Bombay Talkie,MALE,famous,"[0.022116, -0.270536, 0.235497, 0.218431, -0.1...",Bombay Talkie,actor
5,13,Seema_Chetna,FEMALE,unrecognizable,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",Chetna,Seema
6,14,man_Chetna,MALE,"shy, young","[-0.03117, -0.064567, 0.0203845, 0.037786, -0....",Chetna,man
7,15,Anil_Chetna,MALE,"father, father, father","[-0.28259175, 0.065244, -0.2360745, -0.1025212...",Chetna,Anil
8,18,Vasantpur_Dharti,unknown,entire,"[-0.02836, 0.134502, -0.201036, -0.149337, 0.1...",Dharti,Vasantpur
9,20,son_Dharti,MALE,general,"[-0.07573, -0.23854, 0.13686, 0.148458, -0.270...",Dharti,son
10,21,man_Dharti,MALE,cruel,"[-0.087399, 0.019775, -0.126026, -0.069296, -0...",Dharti,man
11,22,Diwan_Dharti,MALE,"son, son, cruel","[-0.189671, 0.09542967, -0.24466333, -0.133745...",Dharti,Diwan
12,26,Sarju_Geet,MALE,"father, father, father, father, interested","[-0.3149276, 0.083348, -0.2835022, -0.1304588,...",Geet,Sarju
13,28,Janki_Geet,FEMALE,"sister, sister, sister","[-0.280121, -0.002382, -0.197149, -0.063887, -...",Geet,Janki
14,29,Dindayal_Geet,UNKNOWN,widowed,"[-0.140482, -0.203134, 0.07209, 0.117395, -0.3...",Geet,Dindayal
15,30,Kunver_Geet,MALE,"father, father","[-0.251192667, 0.0579946667, -0.209844, -0.091...",Geet,Kunver
16,31,Sadhuram_Ghar Ghar Ki Kahani,MALE,subordinate,"[-0.087555, -0.199506, 0.093404, 0.124404, -0....",Ghar Ghar Ki Kahani,Sadhuram
17,36,man_Himmat,MALE,young,"[-0.105138, -0.029248, -0.063298, -0.007706, -...",Himmat,man
18,44,man_Humjoli,MALE,wealthy,"[-0.128877, -0.023544, -0.086229, -0.030882, -...",Humjoli,man
19,48,Ram_Ishq Par Zor Nahin,MALE,"father, father, father","[-0.28259175, 0.065244, -0.2360745, -0.1025212...",Ishq Par Zor Nahin,Ram
20,52,Zamindar_Jawab,MALE,local,"[-0.074445, 0.044641, -0.17069, -0.10139, -0.0...",Jawab,Zamindar
21,53,Deepa_Jeevan Mrityu,FEMALE,"mother, mother, mother","[-0.296385, -0.05633325, -0.13522125, -0.00415...",Jeevan Mrityu,Deepa
22,58,Poonam_Kati Patang,FEMALE,real,"[-0.072086, 0.1972, -0.270346, -0.19603, 0.060...",Kati Patang,Poonam
23,62,Kamal_Kati Patang,MALE,son,"[-0.1204035, 0.0666285, -0.151991, -0.082985, ...",Kati Patang,Kamal
24,64,Radha_Khilona,FEMALE,young,"[-0.105138, -0.029248, -0.063298, -0.007706, -...",Khilona,Radha
25,67,Bihari_Khilona,MALE,lover,"[-0.050229, 0.03896, -0.080275, -0.0469085, -0...",Khilona,Bihari
26,68,Chand_Khilona,FEMALE,"mother, sister, noble","[-0.232973333, -0.035391, -0.141018333, -0.028...",Khilona,Chand
27,69,Singh_Khilona,MALE,rich,"[-0.152485, 0.032242, -0.167403, -0.081328, -0...",Khilona,Singh
28,72,Vijaykamal_Khilona,MALE,son,"[-0.1204035, 0.0666285, -0.151991, -0.082985, ...",Khilona,Vijaykamal
29,76,Victor_Maa Aur Mamta,FEMALE,adopted,"[-0.107134, -0.134787, 0.04605, 0.083093, -0.2...",Maa Aur Mamta,Victor
...,...,...,...,...,...,...,...
5413,16834,career_Strangers (2007 Bollywood film),unknown,ambitious,"[-0.053954, -0.193553, 0.120878, 0.133998, -0....",Strangers (2007 Bollywood film),career
5414,16838,life_Strangers (2007 Bollywood film),unknown,"miserable, painful","[-0.041578, -0.0177235, -0.036393, -0.0065165,...",Strangers (2007 Bollywood film),life
5415,16839,conclusion_Strangers (2007 Bollywood film),unknown,mutual,"[-0.067323, -0.080245, -0.012789, 0.026591, -0...",Strangers (2007 Bollywood film),conclusion
5416,16841,shop_Swami (2007 film),unknown,"antique, second","[-0.0243985, -0.061089, 0.0195355, 0.031941, -...",Swami (2007 film),shop
5417,16842,labourer_Swami (2007 film),unknown,poor,"[-0.072543, -0.043225, -0.070802, -0.035109, -...",Swami (2007 film),labourer
5418,16845,boy_Swami (2007 film),MALE,beautiful,"[-0.063443, 0.032496, -0.119177, -0.072262, -0...",Swami (2007 film),boy
5419,16847,son_Swami (2007 film),MALE,young,"[-0.105138, -0.029248, -0.063298, -0.007706, -...",Swami (2007 film),son
5420,16849,man_Swami (2007 film),MALE,common,"[-0.003477, -0.044611, -0.003524, 0.016096, 0....",Swami (2007 film),man
5421,16852,Anand_Swami (2007 film),MALE,"father, father","[-0.251192667, 0.0579946667, -0.209844, -0.091...",Swami (2007 film),Anand
5422,16856,Tony_The Train (2007 film),MALE,"boyfriend, kissing","[-0.0724505, 0.0071665, -0.086045, -0.036489, ...",The Train (2007 film),Tony
5423,16857,Roma_The Train (2007 film),FEMALE,daughter,"[-0.1216565, 0.059285, -0.150619, -0.0849175, ...",The Train (2007 film),Roma
5424,16859,friend_The Train (2007 film),MALE,close,"[-0.094199, 0.189482, -0.288181, -0.200795, 0....",The Train (2007 film),friend
5425,16860,Kapoor_The Train (2007 film),FEMALE,real,"[-0.072086, 0.1972, -0.270346, -0.19603, 0.060...",The Train (2007 film),Kapoor
5426,16863,woman_The Train (2007 film),FEMALE,"beautiful, captivating","[-0.0317215, 0.016248, -0.0595885, -0.036131, ...",The Train (2007 film),woman
5427,16866,man_The Train (2007 film),FEMALE,"beautiful, captivating","[-0.0317215, 0.016248, -0.0595885, -0.036131, ...",The Train (2007 film),man
5428,16874,Kanta_One Two Three (2008 film),FEMALE,widowed,"[-0.140482, -0.203134, 0.07209, 0.117395, -0.3...",One Two Three (2008 film),Kanta
5429,16881,Ranbeer_Thoda Pyaar Thoda Magic,FEMALE,mother,"[-0.19759, -0.0375555, -0.0901475, -0.0027695,...",Thoda Pyaar Thoda Magic,Ranbeer
5430,16882,Geeta_Thoda Pyaar Thoda Magic,FEMALE,daughter,"[-0.1216565, 0.059285, -0.150619, -0.0849175, ...",Thoda Pyaar Thoda Magic,Geeta
5431,16890,Karan_Mehbooba (2008 film),MALE,"lover, brother, brother","[-0.172001, 0.002204, -0.129816, -0.04232875, ...",Mehbooba (2008 film),Karan
5432,16891,girl_Mehbooba (2008 film),FEMALE,Indian,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",Mehbooba (2008 film),girl
5433,16894,woman_Mehbooba (2008 film),FEMALE,young,"[-0.105138, -0.029248, -0.063298, -0.007706, -...",Mehbooba (2008 film),woman
5434,16898,Dhariwal_Mehbooba (2008 film),MALE,rich,"[-0.152485, 0.032242, -0.167403, -0.081328, -0...",Mehbooba (2008 film),Dhariwal
5435,16915,Veer_Dostana (2008 film),unknown,frightening,"[-0.059375, -0.087375, 0.014797, 0.047221, -0....",Dostana (2008 film),Veer
5436,16916,Kunal_Dostana (2008 film),MALE,reluctant,"[-0.067891, 0.025898, -0.116318, -0.063101, -0...",Dostana (2008 film),Kunal
5437,16920,Rani_Dostana (2008 film),FEMALE,mother,"[-0.19759, -0.0375555, -0.0901475, -0.0027695,...",Dostana (2008 film),Rani
5438,16925,Pushpa_Amar Prem,FEMALE,"mother, wife, sister, wife, mother, wife, sist...","[-0.27908562, -0.04817146, -0.142392, -0.02011...",Amar Prem,Pushpa
5439,16928,mother_Amar Prem,FEMALE,long,"[-0.01129, 0.186995, -0.251645, -0.198881, 0.1...",Amar Prem,mother
5440,16930,Nandu_Amar Prem,MALE,"father, son, child, son, father, son, child, s...","[-0.23198492, 0.14436969, -0.30562062, -0.1734...",Amar Prem,Nandu
5441,16931,man_Amar Prem,MALE,widowed,"[-0.140482, -0.203134, 0.07209, 0.117395, -0.3...",Amar Prem,man
5442,16933,Neena_Aap Aye Bahaar Ayee,FEMALE,beautiful,"[-0.063443, 0.032496, -0.119177, -0.072262, -0...",Aap Aye Bahaar Ayee,Neena

In [21]:
movie1 = 'Khilona'
movie2 = 'Geet'

In [22]:
datamovie1 = data1[data1.Movie == movie1]
display(datamovie1)
datamovie2 = data1[data1.Movie == movie2]
display(datamovie2)

,index,Char,Gender,Desc,WordVec,Movie,Character
24,64,Radha_Khilona,FEMALE,young,"[-0.105138, -0.029248, -0.063298, -0.007706, -...",Khilona,Radha
25,67,Bihari_Khilona,MALE,lover,"[-0.050229, 0.03896, -0.080275, -0.0469085, -0...",Khilona,Bihari
26,68,Chand_Khilona,FEMALE,"mother, sister, noble","[-0.232973333, -0.035391, -0.141018333, -0.028...",Khilona,Chand
27,69,Singh_Khilona,MALE,rich,"[-0.152485, 0.032242, -0.167403, -0.081328, -0...",Khilona,Singh
28,72,Vijaykamal_Khilona,MALE,son,"[-0.1204035, 0.0666285, -0.151991, -0.082985, ...",Khilona,Vijaykamal

,index,Char,Gender,Desc,WordVec,Movie,Character
12,26,Sarju_Geet,MALE,"father, father, father, father, interested","[-0.3149276, 0.083348, -0.2835022, -0.1304588,...",Geet,Sarju
13,28,Janki_Geet,FEMALE,"sister, sister, sister","[-0.280121, -0.002382, -0.197149, -0.063887, -...",Geet,Janki
14,29,Dindayal_Geet,UNKNOWN,widowed,"[-0.140482, -0.203134, 0.07209, 0.117395, -0.3...",Geet,Dindayal
15,30,Kunver_Geet,MALE,"father, father","[-0.251192667, 0.0579946667, -0.209844, -0.091...",Geet,Kunver

In [100]:
matrixx = []
for i in range(len(datamovie1)):
    val = np.array(datamovie1.iloc[i].WordVec)
    lst = np.array(datamovie2.WordVec.tolist())
    retv = list([cosine_similarity(val, i) for i in lst])
    name = [datamovie1.iloc[i]['Character']]
    print(name)
    retv = retv + name 
    #retv = retv.append(datamovie1.iloc[i]['Character'])
    matrixx.append(retv)
    #matrixx = np.concatenate((matrixx,[retv]), axis = 0)
    #matrixx = np.append(matrixx, retv, axis = 0)

['Radha']
['Bihari']
['Chand']
['Singh']
['Vijaykamal']

In [101]:
matrixx = np.matrix(matrixx)

In [102]:
matrixx

matrix([['0.8153235149262107', '0.81653096041881', '0.9066770623494391',
         '0.7677237008610034', 'Radha'],
        ['0.8698536945240811', '0.8558918892762154', '0.818535381586737',
         '0.8257229406383032', 'Bihari'],
        ['0.9842012459881693', '0.989407354375943', '0.8738875753493005',
         '0.9717424386405044', 'Chand'],
        ['0.9239637708365384', '0.9179833626805395',
         '0.8636530791862284', '0.8893057983155104', 'Singh'],
        ['0.9860245174265359', '0.9744728971405546',
         '0.7759451164598435', '0.9698253388868343', 'Vijaykamal']],
       dtype='<U32')

In [103]:
movie2names = datamovie2.Character.tolist()
movie2names

['Sarju', 'Janki', 'Dindayal', 'Kunver']

In [132]:
dataf = pd.DataFrame(matrixx, columns = movie2names+['names'])
dataf = dataf.set_index('names')
dataf = dataf[movie2names].astype(float)
dataf

               Sarju     Janki  Dindayal    Kunver
names
Radha       0.815324  0.816531  0.906677  0.767724
Bihari      0.869854  0.855892  0.818535  0.825723
Chand       0.984201  0.989407  0.873888  0.971742
Singh       0.923964  0.917983  0.863653  0.889306
Vijaykamal  0.986025  0.974473  0.775945  0.969825

In [133]:
x = dataf.Sarju.tolist()
type(x[0])
x[0]

0.8153235149262107

In [136]:
dataf.idxmax(axis = 1)

names
Radha         Dindayal
Bihari           Sarju
Chand            Janki
Singh            Sarju
Vijaykamal       Sarju
dtype: object

In [137]:
import pandas as pd
import numpy as np
import math
from typing import List

In [ ]:
Vector = List[float]
def vector_len(v: Vector) -> float:
    return math.sqrt(sum([x*x for x in v]))

def dot_product(v1: Vector, v2: Vector) -> float:
    assert len(v1) == len(v2)
    return sum([x*y for (x,y) in zip(v1, v2)])

def cosine_similarity(v1: Vector, v2: Vector) -> float:
    """
    Returns the cosine of the angle between the two vectors.
    Results range from -1 (very different) to 1 (very similar).
    """
    return dot_product(v1, v2) / (vector_len(v1) * vector_len(v2))

def replace1(row):
    val = row['WordVec']
    if val == '0':
        val = paddingwordvec
    else:
        z = val.split(' ')
        final_vec1 = []
        for i in z:
            if i != '':
                final_vec1.append(float(i))
                val = final_vec1
    return val

In [165]:
class character_similarity():
    def __init__(self,moviename1, moviename2):
        self.moviename1 = moviename1
        self.moviename2 = moviename2
        data = pd.read_csv("../Bollywood-Data-master/wikipedia-data/avg_wv_relation.csv") 
        
        # To convert all 0 values to a 200 dim vector of zeros
        paddingwordvec = [0 for i in range(200)]
        len(paddingwordvec)
        
        #Remove NaN values
        data1 = data.dropna()
        
        #Remove entries that do not have character names
        somex = data1.Char.tolist()
        for i,j in enumerate(somex):
            z = j.split('_')
            if len(z) == 1:
                val = i
        data1 = data1.drop(data1.index[[val]])

        
        # Create two more columns
        data1['Movie'] = data1['Char'].apply(lambda s:s.split('_')[1])
        data1['Character'] = data1['Char'].apply(lambda s:s.split('_')[0])
        data1['WordVec'] = data1.apply(replace1, axis = 1)
        data1 = data1.reset_index()
        self.datamovie1 = data1[data1.Movie == movie1]
        self.datamovie2 = data1[data1.Movie == movie2]
        
    def compute_similarity(self):
        datamovie1 = self.datamovie1
        datamovie2 = self.datamovie2
        matrixx = []
        for i in range(len(datamovie1)):
            val = np.array(datamovie1.iloc[i].WordVec)
            lst = np.array(datamovie2.WordVec.tolist())
            retv = list([cosine_similarity(val, i) for i in lst])
            name = [datamovie1.iloc[i]['Character']]
            retv = retv + name 
            matrixx.append(retv)
        matrixx = np.matrix(matrixx)
        movie2names = datamovie2.Character.tolist()
        dataf = pd.DataFrame(matrixx, columns = movie2names+['names'])
        dataf = dataf.set_index('names')
        dataf = dataf[movie2names].astype(float)
        return dataf.idxmax(axis = 1)

In [166]:
x = character_similarity('Khilona', 'Geet')

In [177]:
y = x.compute_similarity().to_dict()

ValueError: too many values to unpack (expected 2)